<p id="notice"><%= notice %></p>

<p>
  <strong>Total items:</strong>
  <%= @ticket.total_items %>
</p>

<p>
  <strong>Transtaction amount:</strong>
  <%= @ticket.transaction_amount %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
