<!DOCTYPE html>
<html>
  <head>
    <title>Coati | Dev Challenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-light p-4">
        <% if user_signed_in? %>
          Iniciaste sesión como:  <strong><%= current_user.email %></strong>.
          <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Registrate", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </div>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class="container d-flex justify-content-between">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <%= link_to "Dashboard" , '/' , class: "btn btn-primary"%>
        </div>
        
      </div>
    </nav>
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show my-0" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show my-0" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <div class="container-fluid">
      <div class="container my-3">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <%= yield %>
              <div class="card-footer">
                <%= link_to "Importar" , import_path , class: "btn btn-outline-primary"%>
                <%= link_to "Tickets" , tickets_path , class: "btn btn-primary"%>
                <%= link_to "Clientes" , clients_path , class: "btn btn-secondary"%>
                <%= link_to "Productos" , products_path , class: "btn btn-secondary"%>
                <%= link_to "Vendedores" , sellers_path , class: "btn btn-secondary"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
